.course{:id => "course-#{course.to_param}"}
  %span.course-title
    %h1= course.heading_name
  - unless course.description.blank?
    .course-description
      %p= course.description
  .course-dates
    = render course.course_dates